*{
  margin:0;
}
.app {
  display: flex;
  flex-direction: column;
  /* margin: 0px; */

}



.post-list {
  max-height: 100vh;
  overflow-y: auto;
}





/* Media query */

@media (min-width: 768px) {
  .app {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .profile {
    margin-right: 20px;
  }
}

